<!-- Start Sticky Navigation -->
<nav id="mainnav">
	<div class="container">
		<div class="row">
			<div class="span4">

			</div>
			<div class="span8">
				<ul id="fluid-nav" class="fluid-navigation visible-desktop">
					<!-- <li class="current"><a>Tandem</a></li> -->

					<!-- <li ><a href="unete.html">Únete</a></li> -->
					<li class="current"><a class="scroll-link " >Profile</a></li>
					<% if user_signed_in? %>
						<li>
							<%= link_to('Find matches', new_match_path) %>
						</li>
						<li>
							<%= link_to('Log out', destroy_user_session_path) %>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</nav>
<!-- End Sticky Navigation -->

<!-- Start About Page -->
<section  class="page page-gray center">
	<div class="container">
		<div class="row">
			<div class="span12 ">
				<div class="title"> <span class="color-text">Profile</span> </div>
				<hr>
				<div class="lead"><%= "I have #{pluralize(@matches.count, 'match')}!" %></div>
				<br><br>
			</div>

			<div class="span4 left" >

				<img class="user" style="width:150px" src="<%= @user.avatar.url(:medium) %>"><br>
				<br><br>
				<p><%= "#{@user.first_name} #{@user.last_name}" %></p>
				<p><%= @user.email %></p>
				<p>Skype: <%= @user.skype_username %></p>
				<p><%= @user.country %></p>
				<br><br>
              <!--<%= link_to('Idiomas', ) %>-->
		</div>


		<div class="span8 center">

			<div class="learn">
				<br><br>
				<div class="lead-small left">Matches:</div>
				<br><br><br><br><br><br>
				<% @matches.each do |matchuser| %>
				<div class="span2 gray center">
					    <img class="user" style="width:150px" src="<%= matchuser.match.match_users.where(match: matchuser.match).where.not(user: @user).first.user.avatar.url(:medium) %>"> <br><br>
					I am <strong>learning <%= matchuser.match.match_languages.where(match: matchuser.match, student: @user).first.language.name %></strong> from <strong><%= "#{matchuser.match.match_users.where(match: matchuser.match).where.not(user: @user).first.user.first_name} #{matchuser.match.match_users.where(match: matchuser.match).where.not(user: @user).first.user.last_name} " %></strong> (<%= matchuser.match.match_users.where(match: matchuser.match).where.not(user: @user).first.user.country %>) and <strong> teaching <%= matchuser.match.match_languages.where(match: matchuser.match, teacher: @user).first.language.name %></strong> <br>
					<strong>Skype:</strong> <%= matchuser.match.match_users.where(match: matchuser.match).where.not(user: @user).first.user.skype_username %><br>
				</div>
				<% end %>
			</div>
		</div>






	</div>
</div>
</div>
</section>