<!-- Start Sticky Navigation -->
  <nav id="mainnav">
    <div class="container">
      <div class="row">
        <div class="span4">
          <%=image_tag("logo-tandem-small.png" ) %>
        </div>
        <div class="span8">
          <ul id="fluid-nav" class="fluid-navigation visible-desktop">
            <li class="current"><a href="#home">Tandem</a></li>
            <li><%= link_to 'Back', user_languages_path %></li>
            
            

          </ul>
        </div>
      </div>
    </div>
  </nav>

<br><br><br>
<h1>Listing Language Interests</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @language_interests.each do |language_interest| %>
      <tr>
        <td><%= language_interest.language.name %></td>
        <td><%= language_interest.actual_level %></td>
        <td><%= link_to 'Edit', edit_language_interest_path(language_interest) %></td>
        <td><%= link_to 'Destroy', language_interest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Language interest', new_language_interest_path %>
