<!-- Start Sticky Navigation -->
<nav id="mainnav">
  <div class="container">
    <div class="row">
      <div class="span4">

      </div>
      <div class="span8">
        <ul id="fluid-nav" class="fluid-navigation visible-desktop">
          <li><a href="index.html">Tandem</a></li>

          <li class="current"><a>Únete</a></li>
          <li><a class="scroll-link" href="login.html">Log In</a></li>

        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- End Sticky Navigation -->

<!-- Start About Page -->
<p id="notice"><%= notice %></p>
<section  class="page page-gray center">
  <div class="container">
    <div class="row">
      <div class="span12 ">
        <div class="title"> <span class="color-text">Join</span> </div>
        <hr>
        <div class="lead">This are the best matches for you! Select one please!</div>
        <br><br>
      </div>

      <div class="span4 left" >

        <img class="user" style="width:150px" src="<%= @user.avatar.url %>"><br> 
        <br><br>
        <p><%= "#{@user.first_name} #{@user.last_name}" %></p>
        <p><%= @user.email %></p>
        <p>Skype: <%= @user.skype_username %></p>
        <p><%= @user.country %></p>
        <br><br>  

      </form>

    </div>

    <div class="span6 center">

      <% @possible_matches.each do |match| %>
      <div class="match">
        <br><br>
        <img <img class="user" style="width:150px" src="<%= match.user.avatar.url %>"> <br><br>
        <%= "#{match.user.first_name} #{match.user.last_name} from #{match.user.country} knows #{match.language.name} (Level: #{match.level}/10)" %>
        <br><br>
        <%= link_to "Select" do %>
          <button>Select</button>
        <% end %>
      </div>
      <% end %>

    </div>
  </div>
</div>
</section>
<!-- End About Page -->