<!-- Start Sticky Navigation -->
<nav id="mainnav">
  <div class="container">
    <div class="row">
      <div class="span4">

      </div>
      <div class="span8">
        <ul id="fluid-nav" class="fluid-navigation visible-desktop">
          <li><%= link_to "Tandem", root_path %></li>

          <li class="current"><a>Únete</a></li>
          <li><%=link_to "Log In", new_user_session_path, class:"scroll-link" %></li>

        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- End Sticky Navigation -->

<!-- Start About Page -->
<p id="notice"><%= notice %></p>
<section  class="page page-gray center">
  <div class="container">
    <div class="row">
      <div class="span12 ">
        <div class="title"> <span class="color-text"></span> </div>
        <hr>
        <div class="lead">These are the best matches for you! Select one please</div>
        <br><br>
      </div>

      <div class="span4 left" >

        <img class="user" style="width:150px" src="<%= @user.avatar.url(:medium) %>"><br> 
        <br><br>
        <p><%= "#{@user.first_name} #{@user.last_name}" %></p>
        <p><%= @user.email %></p>
        <p>Skype: <%= @user.skype_username %></p>
        <p><%= @user.country %></p>
        <br><br>  

      </form>

    </div>

    <div class="span6 center">

      <% @possible_matches.each do |match| %>
      <div class="match">
        <br><br>
        <img class="user" style="width:150px" src="<%= match[:other_user_language].user.avatar.url(:medium) %>"> <br><br>
        <%= "#{match[:other_user_language].user.first_name} #{match[:other_user_language].user.last_name} from #{match[:other_user_language].user.country} knows #{match[:other_user_language].language.name} (#{match[:other_user_language].level}/10) and wants to learn #{match[:user_language].language.name}" %>
        <br><br>
        <%= form_for(@match) do |f| %>
        <% if @match.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

          <ul>
            <% @match.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>

        <%= f.hidden_field :user, :value => current_user.id %>
        <%= f.hidden_field :other_user, :value => match[:other_user_language].user_id %>
        <%= f.hidden_field :teacher_language, :value => match[:user_language].language_id %>
        <%= f.hidden_field :student_language, :value => match[:other_user_language].language_id %>
        <div class="actions">
          <%= f.submit "Select"%>
        </div>
        <% end %>

      </div>
      <% end %>

    </div>
  </div>
</div>
</section>
<!-- End About Page -->