<h1>Listing User Languages</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Level</th>
      <th>Is Native?</th>
    </tr>
  </thead>

  <tbody>
    <% @user_languages.each do |user_language| %>
      <tr>
        <td><%= user_language.language.name %></td>
        <td><%= user_language.level %></td>
        <td><%= "Yes" if user_language.is_native %></td>
        <td><%= link_to 'Edit', edit_user_language_path(user_language) %></td>
        <td><%= link_to 'Destroy', user_language, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User language', new_user_language_path %>
